h1{
    /*background-color: lightblue;*/
    font-size: 50px;
    background: linear-gradient(46deg,#9aa0c5 0%, #28afac 80%);
    text-align: center;
    border-bottom: 1px solid;
    border-radius: 15px 0px 15px 0px;
}

#nombre{
    text-align: center;
    font-size: 25px;
    font-family: 'Schibsted Grotesk', sans-serif;
}

#imagen{    
    margin-left: 550px;
    box-shadow: -11px -10px 0px 3px rgba(0,0,0,0.6);
}

h2{
    font-family: Arial;
    font-style: italic;
}

.series{
    color: green;
    text-transform: uppercase;
}

.pelis{
    color: red;
    font-weight: bold;
}